<!DOCTYPE html>
<html lang="en">
	{% load static %}
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
		/>
		<link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/css/jquery-ui.css" />
		<link rel="stylesheet" href="{% static 'css/detection.css'%}" />
		<title>| DEEPFAKE DETECTION |</title>
	</head>
	<body>
		{%block content%} {%endblock%}
		<script src="/static/js/jquery-3.4.1.min.js"></script>
		<script src="/static/js/popper.min.js"></script>
		<script src="/static/js/jquery-ui.min.js"></script>
		{%block js_cripts%} {%endblock%}
	</body>
</html>
