<!-- <footer class="footer">
    <div class="container">
      <center><span class="text-muted" >Copyright @ {%now 'Y'%}</span></center>
      <a href="{% url 'ml_app:home'%}">Home</a>
      <a href="{% url 'ml_app:about'%}">About</a>
      <a href="#">Github Link</a>
    </div>
  </footer> -->

<section class="footer">
	<p class="text-center">
		Designed and built with
		<span class="icon"><i class="fa fa-heart fa-lg"></i></span> by<a
			href=""
			target="_blank"
		>
			The Team Squad-X</a
		>
	</p>
	<div class="icons">
		<a href="#" class="fab fa-github"></a>
		<a href="#" class="fab fa-linkedin"></a>
		<a href="#" class="fab fa-twitter"></a>
		<a href="#" class="fas fa-envelope"></a>
	</div>
</section>
